<!DOCTYPE html>
<html>
  <head>
    <style>
      #content {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body>
  <div id="content">
  <h1>Users registered in <%= @month %> <%= @year %></h1>
  <a href="/">Home</a>
  <p>
      <%= number_with_precision(@percent_of_total_by_users) %>% of entire site by users<br>
      <%= number_with_precision(@percent_of_total_by_karma) %>% of entire site by karma
  </p>
  <ol>
  <% @members.each do |member| %>
    <li><%= member.username %> (<%= member.karma %>)</li>
  <% end %>
  </ol>
  </div>
  </body>
</html>
