<!DOCTYPE html>
<html>
  <body>
  <h1>Users registered in <%= @month %> <%= @year %></h1>
  <a href="/">Home</a>
  <p>
      <%= number_with_precision(@percent_of_total_by_users) %>% of entire site by users<br>
      <%= number_with_precision(@percent_of_total_by_karma) %>% of entire site by karma
  </p>
  <table>
  <% @members.each do |member| %>
    <tr><td><%= member.username %> (<%= member.karma %>)</td></tr>
  <% end %>
  </table>
  </body>
</html>
