<div id="content">
  <h1>Overall Karma leaders</h1>
  <a href="/">Home</a>
  <p>
  Users with the most karma. Brown bars are for users who have been on the site the longest. Green bars are for newer users.
  </p>
  <ol id="userlist">
  <% @members.each do |member| %>
    <li>
      <div class="username"><a href="/user/<%= member.username %>"><%= member.username %></a> <span class='parenthesis'>(<%= member.karma %>, <%= member.age %> days old)</span></div>
      <div class="bar" style="background: <%= gradient(0xDDFFDB, 0xCCBEA1, (member.age / @max_age) * 100) %>; width: <%= member.get_width(@max_karma) %>%">&nbsp;</div>
    </li>
  <% end %>
  </ol>
</div>
