<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @member.username %>
</p>

<p>
  <b>Karma:</b>
  <%= @member.karma %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
